<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Move the progress bar outside modal-header -->
      <div class="container mt-3 mb-3">
        <h2>Progress</h2>
        <div class="progress" style="height: 50px;">
          <div id="progress-bar" class="progress-bar bg-primary" role="progressbar" style="width: 0%;" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="modal-body p-3" style="font-size:20px; font-family: 'Arial', sans-serif;">
        <h3 class="text-center mb-3">Read Me!</h3>
        <p class="mb-2">
          🔍 We're currently processing your uploaded image using our state-of-the-art AI algorithm. This ensures that
          you receive the most accurate
          diagnostic predictions possible.
        </p>
        <p class="mb-2">
          🕑 This process usually takes between 8 to 30 seconds. We appreciate your patience
        </p>
        <p class="mb-4">
          💡 Did you know? Our AI-powered diagnostic system is trained on over 100,000 radiological images to provide
          you with reliable and
          precise results.

        </p>



        <h3 class="text-center mb-3">DISCLAIMER</h3>
        <p class="mb-2">
          The results provided by our AI-powered diagnostic system are intended to be a supplementary tool for
          informational purposes only.
        </p>
        <p class="mb-2">
          While we strive for accuracy, these results should not be relied upon for medical or dental decision-making.
        </p>
        <p class="mb-2">
          Always consult with a qualified medical or dental professional for a comprehensive diagnosis and treatment.
          Remember, only a doctor
          knows best when it comes to your health.
        </p>
      </div>
    </div>
  </div>
</div>